/* Hoja de Estilo Aarchivo de de la GUI de control para transmisor mensajito.mx */
a {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}

.c_1 {
    position: absolute;
    top: 80px;
    left: 20px;
    font-size: 25px;
}

.c_2 {
    position: absolute;
    top: 150px;
    left: 20px;
    font-size: 25px;
}

.c_3_archivo {
    position: absolute;
    top: 220px;
    left: 20px;
    font-size: 25px;
    color: red;
}

.c_4 {
    position: absolute;
    top: 270px;
    left: 20px;
    font-size: 25px;
}

.c_5 {
    position: absolute;
    top: 270px;
    left: 300px;
    font-size: 25px;
}

select option:checked {
    box-shadow: 0 0 10px 100px red inset;
}

