/* Hoja de Estilo Info de de la GUI de control para transmisor mensajito.mx */
#ip_eth0 {
	position: absolute;
	top: 60px;
	left: 20px;
	width: 440px;
	font-size: 16px;
	line-height: 20px;
}

#mac_eth0 {
	position: absolute;
	top: 90px;
	left: 20px;
	width: 440px;
	font-size: 16px;
	line-height: 20px;
}

#ip_wlan0 {
	position: absolute;
	top: 120px;
	left: 20px;
	width: 440px;
	font-size: 16px;
	line-height: 20px;
}

#mac_wlan0 {
	position: absolute;
	top: 150px;
	left: 20px;
	width: 440px;
	font-size: 16px;
	line-height: 20px;
}

#link_titulo {
	position: absolute;
	top: 180px;
	left: 20px;
	width: 440px;
	font-size: 16px;
	line-height: 20px;
}

#link {
	position: absolute;
	top: 210px;
	left: 20px;
	width: 440px;
	font-size: 16px;
	line-height: 20px;
}

#memoria {
	position: absolute;
	top: 240px;
	left: 20px;
	width: 440px;
	font-size: 16px;
	line-height: 20px;
}

#info_gen {
	position: absolute;
	top: 270px;
	left: 20px;
	width: 440px;
	font-size: 16px;
	line-height: 20px;
}