/* Hoja de Estilo Inicio de de la GUI de control para transmisor mensajito.mx */
#btn_inicio {
    position: absolute;
    top: 180px;
    left: 30px;
}

.image {
    width: 472px;
    height: 315px;
}