a:visited {
    color: black;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

#texto_1_p {
    position: absolute;
    top: 40px;
    left: 20px;
    font-size: 40px;
}

#inicio_1 {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
}

#select_1 {
    position: absolute;
    top: 90px;
    left: 20px;
    font-size: 20px;
    border: none;
    width: 220px;
}

#agregar_1 {
    position: absolute;
    top: 90px;
    left: 290px;
    font-size: 20px;
}

#eliminar_1 {
    position: absolute;
    top: 120px;
    left: 290px;
    font-size: 20px;
}

select:focus {
    outline: none;
}

#transmitir_1 {
	position: absolute;
	top: 200px;
	left: 20px;
}

#grabar_1 {
	position: absolute;
	top: 200px;
	left: 130px;
}

#programa_1 {
	position: absolute;
	top: 50px;
	left: 20px;
	font-size: 40px;
}

#ubicacion {
	position: absolute;
	top: 100px;
	left: 20px;
	font-size: 20px;
}

#estacion {
	position: absolute;
	top: 130px;
	left: 20px;
	font-size: 20px;
}

#cambiar {
    position: absolute;
	top: 160px;
	left: 20px;
	font-size: 20px;
    text-decoration: underline;
}

#contador_1 {
	position: absolute;
	top: 180px;
	left: 400px;
	font-size: 80px;
}

#contador_2 {
	position: absolute;
	top: 270px;
	left: 380px;
	font-size: 20px;
}

#inicio_1 {
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 20px;
}


.btn-circle {
    width: 100px;
    height: 100px;
    padding: 0px;
    font-size: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
}

.btn-dark {
    background-color: black;
}

.btn-red {
    background-color: red;
}