a:visited {
    color: black;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

#texto_1_p {
    position: absolute;
    top: 40px;
    left: 20px;
    font-size: 40px;
}

#texto_2_p {
    position: absolute;
    top: 70px;
    left: 20px;
    font-size: 40px;
}

#inicio_1 {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
}

#select_1 {
    position: absolute;
    top: 140px;
    left: 20px;
    font-size: 20px;
    border: none;
    width: 220px;
}

#agregar_1 {
    position: absolute;
    top: 130px;
    left: 290px;
    font-size: 20px;
}

#eliminar_1 {
    position: absolute;
    top: 160px;
    left: 290px;
    font-size: 20px;
}

select:focus {
    outline: none;
}