/* Hoja de Estilo WiFi de de la GUI de control para transmisor mensajito.mx */
a:visited {
    color: black;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

#texto_1_wifi {
    position: absolute;
    top: 50px;
    left: 20px;
    font-size: 25px;
}


#select_wifi {
    position: absolute;
    top: 80px;
    left: 20px;
    font-size: 20px;
    border: none;
    width: 440px;
}


#texto_2_wifi {
    position: absolute;
    top: 190px;
    left: 20px;
    font-size: 25px;
}

input[type=text] {
    font-family: mensajito_font;
    background: transparent;
    font-size: 25px;
    width: 400px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
}

#contrasena {
    position: absolute;
    top: 220px;
    left: 20px;
}


#conectar_1 {
    position: absolute;
    top: 280px;
    left: 20px;
    font-size: 25px;
}

#conectado {
    color: red;
    position: absolute;
    top: 280px;
    left: 320px;
    font-size: 25px;
}