@font-face {
    font-family: mensajito_font;
    src: url(./fonts/CircularStd-Medium.otf);
}

body {
    cursor: none;
    margin: 0px;
    font-family: mensajito_font;
}

option {
    font-family: mensajito_font;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.btn_circle {
    width: 100px;
    height: 100px;
    padding: 0px;
    font-size: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.btn_black {
    color: white;
    background-color: black;
}

#info_1 {
    position: absolute;
    top: 20px;
    left: 420px;
    width: 30px;
}

#wi_fi_1 {
    position: absolute;
    top: 20px;
    left: 380px;
    width: 30px;
}

#config_1 {
    position: absolute;
    top: 20px;
    left: 340px;
    width: 30px;
}

#archivo_1 {
    position: absolute;
    top: 20px;
    left: 300px;
    width: 30px;
}

.menu {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
}